#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.accordion {
  max-width: 15rem;
  margin-bottom: 0.5rem;
}

.accordion button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion button:hover {
  background: #89c8ff;
}

.accordion .content {
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  background: #f7f7f7;
}